@charset "utf-8";
/* CSS Document */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600italic,600,700,800");

html, body{ padding:0; margin:0;}
body{ color:#40403f; font-size:13px; font-family: 'Open Sans', sans-serif; background-image:url("../images/bg.gif"); background-repeat: repeat-x; background-color: #FFF!important;}

div, p, form, ul, li, h1, h2, h3, h4, h5, h6, a, span, form, img, br, input, textarea, label { padding:0; margin:0; }

a, input { text-decoration:none; outline:none;}

img {border:0; outline:none;}

ul{list-style-type:none;}

*:focus{ outline:none;}

.clear{clear:both; line-height:0 !important; font-size:0 !important; height:0px !important;}

.left{ float:left;}
.right{ float:right !important;}
.block{ display:block;}
.inlineblock{ display:inline-block;}
.relative{ position:relative}
.absolute{ position:absolute;}

.center{ width:900px; margin:0 auto;}

.topPanel{ height:85px; background:#FFF; position: relative; }

.tophome{ display:block; float:left; text-indent:-9999px; width:20px; height:20px; margin:5px 10px 0 0;}
.topSearchSec{ position:absolute; right:175px; top:39px; z-index:3!important;}
.topSearch{ float:left; background:#f0f0f0; padding:1px; -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 0 6px  rgba(0,0,0,0.2); box-shadow: inset 0 0 6px  rgba(0,0,0,0.2);-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -khtml-border-radius:5px; z-index: 9999;}
.topSearchBox{ background-image: url("../images/search.png");background-repeat: no-repeat;background-position: right 10px center; border:none; float:left; width:170px; color:#b3b3b3; font:normal 12px Arial, Calibri; text-shadow:1px 1px #FFF; }
.topSearchbtn{ background:transparent no-repeat 50% 50%; border:none; float:left; cursor:pointer; width:15px; height:15px; }


.tslogo{
	float: left;
	margin-top: 29px;
}
.tglogo{ float:right; margin-top:16px;}

.NavPanel{background:#0075c3; height:37px; position: relative; z-index:2;}

.menuOverlay{ position:fixed; left:0; top:0; width:100%; height:1000px; background:url("../images/overlay.png"); z-index:100; display:none;}
#nav{ display:block; float:left; margin-left:3px;}
#nav > li.navli {list-style-type: none; display: block; float: left; height:38px;}
#nav > li.navli > a.navlink {color: #FFF; font-size:11px; font-weight:400; text-transform:uppercase;  text-decoration: none; height:37px; line-height:37px; display: block; padding:0 24px;  position:relative; z-index:110;}
#nav > li.navli:hover > a.navlink {color: #003d8d; background:url("../images/header-background.gif");}
#nav > li.navli:hover > a.navlink:hover {color: #003d8d; background:url("../images/header-background.gif");}
.activo{background: #42A8D2;}
#nav > li.navli div.subnav{ position:absolute; left:3px; top:38px; width:893px; background:url("../images/dropmenuShadow.png") no-repeat 50% 100%; padding-bottom:15px; z-index:109;}
#nav > li.navli div.subnavIn{ background-color:#FFF; padding:30px 27px; border:0px solid #bfbfbf;}

.mmSec{ float:left;}
.mmSec img{
	margin-bottom: 7px;
}
.width190{ width:190px; margin-right:25px;}
.width260{ width:260px; margin-right:27px;}
.width150{ width:150px; margin-right:22px;}

.mmSec strong{text-transform:uppercase; color:#000!important; font-size:11px; font-weight:400; border-bottom:1px solid #e0e0e0; padding-bottom:5px; margin-bottom:5px; display:block;}

.mmlinks1 li{ margin-bottom:7px;}
.mmlinks1 li a{ text-transform:uppercase; color:#000!important; font-size:11px; font-weight:400;}
.mmlinks1 li a:hover{ color:#003d8d!important; }
.mmlinks2 li{ margin-bottom:5px;}
.mmlinks2 li a{ color:#757575!important; font:normal 11px/12px Arial, Calibri, Tahoma!important;}
.mmlinks2 li a:hover{ color:#003d8d!important; }

.footerPanel{background:#e3e3e3; /*height:150px;*/}
.footer{ width:900px; margin:0 auto; position:relative; color:#919191; font:normal 11px/18px Arial, Calibri;}

.footer_Environment{ display:inline-block; float:left; color:#919191; margin-left:28px; font:normal 11px/41px Arial, Calibri; height:41px; padding-left:50px; background:url("../images/environment-icon.png") no-repeat 0 0;}
.footer_sefety{ display:inline-block; float:left; color:#919191; margin-left:28px; font:normal 11px/41px Arial, Calibri; height:41px; padding-left:50px; background:url("../images/safety-icon.png") no-repeat 0 0;}
.footer_csr{ display:inline-block; float:left; color:#919191; margin-left:28px; font:normal 11px/41px Arial, Calibri; height:41px; padding-left:50px; background:url("../images/csr-icon.png") no-repeat 0 0;}

.footer_Environment:hover, .footer_sefety:hover, .footer_csr:hover{ color:#000;}
.footer .copy{
	font-size: 9px;
}
#color-patch {
	width: 262px;
	height:41px;
	/*background-color: <?php echo '#'.$color[$cual].';\n\r' ?>*/
	text-align: left;
	vertical-align: bottom;
	padding-top: 130px;
	padding-left:22px;
	position: absolute;
	z-index: 10;
}
#header-image {
		width: 100%;
	height: 171px;
	position: absolute;
	z-index: 0;
	left: 0;
	background-color: #006DB9;
}
#plecaTop{
	position: relative;
	z-index: 20;
	width: 690px;
	height: 171px;
}

.contacto{
	width: 500px;
	padding-left: 45px;
}

.contacto table tr td{
	padding: 5px 0;
}
.contacto input, .contacto textarea{
width: 160px;
font-size: 12px;
}

.alert{
	padding: 10px 0 10px 15px;
}
.alert-danger{
	background-color: rgba(255,0,0,.3);
	color: rgb(255,0,0);
	font-size: 13px;
}
.alert-success{
	background-color: rgba(46,139,87,.3);
	color: rgb(46,139,87);
	font-size: 13px;
}

.node{
	text-decoration: none;
	color: #797976;
}
